.sym{
    width: 60%;
    /* padding-top: 2%; */
    height: 600px;
}

.rad{
    /* display :inline; */
    display: flex;
}

.radio{
  flex: 1 0 auto;
  display: flex;
  margin: 5%;
  padding: 2% 2% 2% 0;
  align-items: center;
}