.step1{
    background-image:url('./mygif.gif'); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* background-image: ""; */
    /* color: rgb(250, 249, 248);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  */
}
@media only screen and (max-device-width: 1366px) {
    .step1 {
      background-attachment: scroll;
    }
  }
.step{
 border:2px solid rgb(184, 181, 181);
 border-radius: 10px;
 width:18rem;
}
.headings{
    text-align: start;
    color: #033D68;
}
#head1{
    font-weight: 600;
    font-size: 2em;
}
ul{
    list-style: none;
    padding: 0;
    text-align: start;
}
li{
    text-align: start;
}
.columns {
    text-align: start;
}
.bannertitle{
    font-weight: 800;
    font-size: 3em;
}
/* .infobox{
    border:1px solid black;
    border-radius: 10px;
} */
#translogo{
    width: 500px;
}
.bodd{
    padding: 5px;
    padding-top: 15px;
    color: #033D68;
    font-family: 'Zilla Slab', serif;
    font-size: 20px;
    font-weight: 550;
}
#head2{
    text-align: center;
    padding-top: 20px;
    font-size: 40px;
}
.container{
    color: #033D68;   
}
.pad{
    height: 500px;
}
#adult{
    margin-top: 150px;
    margin-left: 300px;
}