.step1{
    background-image: url("background1.jpg");
    height: 100%;

  /* Create the parallax scrolling effect */
  /* background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
    /* color: rgb(250, 249, 248); */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
@media only screen and (max-device-width: 1366px) {
    .step1 {
      background-attachment: scroll;
    }
  }
.step{
 border:2px solid rgb(184, 181, 181);
 border-radius: 10px;
 width:18rem;
}
.headings{
    text-align: start;
}
ul{
    list-style: none;
    padding: 0;
    text-align: start;
}
li{
    text-align: start;
}
.columns {
    text-align: start;
}
.bannertitle{
    font-weight: 800;
    font-size: 3em;
}
.infobox{
    border:1px solid black;
    border-radius: 10px;
    /* background-color: ; */
/* #00ffac */
}